@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	
	background: #B7E0F6 url(../images/background_gradient.jpg) repeat-x 0px 0px;
	}

		

	.row:after{

	clear: both;

}


#welcome{
	color: #003D4C;
	font-family: arial;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 20px;
	}
	#footer{
		padding-top: 15px;
		text-align: center;
		font-family: arial;

	}

.course_SubHead{
	color: #1097e1;
}

.col{

	background: #c0d5db;
	border-radius: 5px;
	color: #fff;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31%;
	height:200px;

}

#post_area1{
	height: 2000px;
}

.session_info1{

	background: #c0d5db;
	border-radius: 5px;
	color: #397fdb;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31%;
	height:200px;

}

.session_img{

	background: #c0d5db;
	border-radius: 5px;
	padding: 10px .5%;
	float: left;
	margin: .5%;
	width: 31%;

}
.session_break{
		float: left;
		margin: 6.5%;
		vertical-align: middle;
}

#button1{

	margin: 10px;
	padding: 10px;
	background: #1097e1;
	color: #fff;
	border-radius: 8px;
	vertical-align: middle;
	text-align: center;
	font-family: arial;
	text-decoration: none;

}

#button{
	padding: 5px .5%;
	background: #003b6f;
	color: #fff;
	float: left;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	font-family: arial;

}

#title1{

	color: #003b6f;

}

#session_title1{

	color: #003b6f;
	font-weight: bold;
	font-size: 30px;
}

.line_break{

position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);


}
	
	.sidebar{
			width:250px;
			height: 800px;
			background:#1097e1;
			float:left;
			}
	
.container {
	width:1000px; 
	margin:auto; 
	background:#FFF;
	}
	
	.content_wrapper{
		width:1000px;
		background:#FFF; 
		margin:auto; 
		
		}
	.head {
		width:1000px; 
		height:100px; 
		background:#FFF; 
		}


		#logo {float:left;}
		
		#banner {float:right;}
		
		
		.navbar {
		width:1000px; 
		height:50px; 
		background:#52afe2;	
		clear:both;
	
			}
			
		#menu {
			line-height:50px; 
			text-align: center;
			}
			
			#menu li {
				list-style-type:none; 
				display:inline;	
				}
				
				#menu a {
					text-decoration:none;
					font-size:16px; 
					font-family:"Arial", cursive; 
					color:#FFF; 
					margin:5px; 
					padding:6px;
					}
					
					
					#menu a:hover {
						color:#525252;
						}
			
		
		
		
					



	
			/*
			
			.recent_posts {text-align:center;}
			
			.recent_posts a {text-decoration:none; color:#000; font-size:18px;}
			
			.recent_posts a:hover {color:#F36;}
			
			#stitle {
				background:#000;
				color:#FFF; 
				padding:5px;
				font-size:24px;
				border-top:1px solid #666;
				text-align:center;
				}
				
				#social {
					
					margin:4px; 
					padding:5px; 
					text-align:center;
					}
					#social img {width:50px; border:2px solid #333;}
			
	*/

	
.footer_area{
	vertical-align:middle; 
	font-family: arial;
	text-align: center; 
	width:1000px; 
	height:50px; 
	background:#52afe2; 
	color:#FFF; 
	clear:both;padding-top: 15px;}



	#public_message{

		text-align: center;
		color: #1097e1;
		margin: 100px 50px;

	}

	#login_btn{
		text-align: center;
		margin: -30px 10px;
		padding: 10px 10%;
		background: #1097e1;
		color: #fff;



	}

	#logoffBtn{
		text-align: center;
		margin: -50px 20px;
		padding: 5px 1%;
		background: #000;
		color: #fff;
		float: right;
	}

	
				


	/*
	#form {float:right; line-height:50px; padding-right:3px;}
	
	#rmlink {
			float:right; 
			background:#000; 
			color:#FFF; 
			padding:8px;
			text-decoration:none;
			margin-top:5px; 
		}
		
		#ltitle  {text-decoration:none; font-size:24px; color:#000; font-family:"Comic Sans MS", cursive;}
		
		#related {background: silver; width:160px; padding:5px; float:left; }
		